{% extends 'base_unit.html' %}
{% load bootstrap %}
{% load static %}
{% block unit_content %}
{% if unit_group %}
<div class="container">
    <h6 class="title-center">
        <span>{{unit.full_name}}</span>
    </h6>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-ul">
                <li class="list-li">Administrator: {{unit.manager}}</li>
            </ul>

        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="my-2">
        <p>{{unit.information}}</p>
    </div>
    <div class="d-flex justify-content-around mt-5">
        <span class="d-block"> Utworzenie: {{unit.create}}</span>
        <span class="d-block"> Ostatnie zmiany: {{unit.change}}</span>
    </div>
</div>
{% endif %}
<script>
    document.getElementById('titleModule').textContent = '{{title}}';
    document.getElementById('unitCount').textContent = '{{unit_count}}';
    document.getElementById('kmpUnits').textContent = '{{kmp_units}}';
    document.getElementById('kppUnits').textContent = '{{kpp_units}}';
    document.getElementById('kpUnits').textContent = '{{kp_units}}';
    document.getElementById('ppUnits').textContent = '{{pp_units}}';
    document.getElementById('rdUnits').textContent = '{{rd_units}}';
</script>
{% endblock %}