{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block title %} WIiR - Jednostki {% endblock %}
{% block content %}
<section class="container mt-3">
    <h4 id="titleModule" class="title-center"></h4>
    <div class="my-3">
        <ul class="list-row-ul">
            <li class="list-row-li">Jednostki&nbsp;<span id="unitCount" class="li-row-info"></span></li>
            <li class="list-row-li">Komenda Miejska Policji&nbsp;<span id="kmpUnits" class="li-row-info"></span></li>
            <li class="list-row-li">Komenda Powiatowa Policji&nbsp;<span id="kppUnits" class="li-row-info"></span></li>
            <li class="list-row-li">Komisariat Policji&nbsp;<span id="kpUnits" class="li-row-info"></span></li>
            <li class="list-row-li">Posterunek Policji&nbsp;<span id="ppUnits" class="li-row-info"></span></li>
            <li class="list-row-li">Rewir Dzielnicowych&nbsp;<span id="rdUnits" class="li-row-info"></span></li>
        </ul>
    </div>
</section>
{% block unitmenu %}

{% endblock %}

{% endblock %}