{% extends 'base_plan.html' %}
{% load bootstrap %}
{% load static %}
{% block plan_content %}
<div class="container">
    <div class="list-group">
        {% for plan in plans %}
        <li class="list-group-item list-group-item-action list-group-item d-flex justify-content-between">
            <a href="{% url 'plan:detailsPlan' plan.id %}" class="w-75">
                {{plan}} {% if plan.subtitle %} ({{plan.subtitle}}) {% endif %}
            </a>
            <div class="d-flex justify-content-between w-25">
                <button data-url="{% url 'plan:changesPlan' plan.id%}" onclick="openHistoryModal(this)">Ostatania zmiana: {{plan.change|date:'d.m.Y'}} r.</button>
                <button class="btn my-0 py-0 bi bi-pencil-square"></button>
            </div>
        </li>
        {% endfor %}
    </div>
</div>

<!--MODAL-->
<div class="modal fade" id="historyModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<script>
    document.getElementById('titleModule').textContent = '{{title}}';
    document.getElementById('planQuantity').textContent = '{{planQuantity}}';

    function openHistoryModal(button){
        var url = $(button).data("url");
        $("#historyModal .modal-content").load(url);
        $("#historyModal").modal("show");
    }
</script>
{% endblock %}