{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container p-0 bg-secondary">
    <div class="row justify-content-around min-vh-100  bg-warning">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3 dashboard-box bg-success m-3 ">1</div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3 dashboard-box bg-warning m-3">2</div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3 dashboard-box bg-dark m-3">3</div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3 dashboard-box bg-secondary m-3">4</div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3 dashboard-box bg-info m-3">5</div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3 dashboard-box bg-info m-3">6</div>
    </div>
</div>
{% endblock %}
