{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container p-0">
    <div class="row justify-content-around align-items-center dashboard-layout">
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3 dashboard-box p-0 m-3 unit">
            <div class="hv-100 d-flex flex-column justify-content-center align-items-center text-light text-center">
                <a href="#" class="btn btn-outline-light">Jednostki</a>
                <div class="hero-shadow"></div>
            </div>
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3 dashboard-box p-0 m-3">Umowy</div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3 dashboard-box p-0 m-3">Inwestycje</div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3 dashboard-box p-0 m-3">Plany</div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3 dashboard-box p-0 m-3">Darowizny</div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3 dashboard-box p-0 m-3">Galeria</div>
    </div>
</div>
{% endblock %}
