{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block title %} WIiR - Plany {% endblock %}
{% block content %}
<section class="container">
    <h4  class="title-center"><span id="titleModule"></span></h4>
    <div class="my-2 card py-2">
        <ul class="list-row-ul">
            <li class="list-row-li">Plany&nbsp;<span id="planQuantity" class="li-row-info"></span></li>

        </ul>
    </div>
    <div class="d-flex justify-content-evenly py-2">
        <button type="button" data-url="{% url 'plan:modalPlan' %}" class="btn-icon mx-4" data-toggle="info" data-placement="bottom" title="Dodaj plan" onclick="openModal(this)">
            <i class="bi bi-plus-circle-fill size-icon"></i>
        </button>
    </div>
    <hr>
</section>
<div class="modal fade" id="newPlanModal" >
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>
    function openModal(button){
        var url = $(button).data("url");
        $("#newPlanModal .modal-content").load(url);
        $("#newPlanModal").modal("show");
    }

    function submitForm(){
    $("#submitButton").closest("form").submit();
    }
</script>
{% block plan_content %}

{% endblock %}

{% endblock %}