{%load static%}
{%load bootstrap%}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="{%static 'main/bootstrap/css/bootstrap.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-grid.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-reboot.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.rtl.css'%}" rel="stylesheet">
    <link href="{%static 'main/bootstrap/css/bootstrap-utilities.rtl.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/style.css'%}" rel="stylesheet">

    <!-- Bootstrap JS -->
    <script src="{%static 'main/bootstrap//js/bootstrap.bundle.js'%}"></script>
    <!-- icon -->
    <link rel="shortcut icon" href="{%static 'main/media/logo.ico'%}" type="x-icon">
    <link rel="stylesheet" href="{%static 'main/bootstrap-icons/font/bootstrap-icons.css'%}">
    <script src="{%static 'main/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'main/scripts.js'%}"></script>
    <title>WIiR Logistyka</title>
</head>
<body class="100-vh">
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed">
    <div class="container">
        <a class="navbar-brand" href="/" data-toggle="info" data-placement="bottom" title="{% if user.first_name and user.last_name %}
                {{user.first_name}}
                {{user.last_name.0}}. {%else%} {{user.username}} {% endif %}">Dashboard </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                {% if user.is_authenticated and unit_group %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'unit:countyList' %}">Jednostki</a>
                </li>
                {% endif %}
                {% if user.is_authenticated and contract_group %}
                <li class="nav-item">
                    <a class="nav-link" href="">Umowy</a>
                </li>
                {% endif %}
                {% if user.is_authenticated and project_group %}
                <li class="nav-item">
                    <a class="nav-link" href="">Inwestycje</a>
                </li>
                {% endif %}
                {% if user.is_authenticated and plan_group %}
                <li class="nav-item">
                    <a class="nav-link" href="">Plany</a>
                </li>
                {% endif %}
                {% if user.is_authenticated and donation_group %}
                <li class="nav-item">
                    <a class="nav-link" href="">Darowizny</a>
                </li>
                {% endif %}
                {% if user.is_authenticated and gallery_group %}
                <li class="nav-item">
                    <a class="nav-link" href="">Galeria</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <form class="nav-link" action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <input class="logout" type="submit" value="Wyloguj">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}
<main class="main-settings">
    {% block content%}

    {% endblock %}
    <section class="fixed-bottom">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
        <!-- Grid container -->
        <div class="container py-1">
            <!-- Section: CTA -->
            <section class="">
                <button class="btn btn-light btn-sm bi bi-info-square-fill" data-url="#"
                        onclick="openInfoModal(this)"></button>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
            <span>© 2024 Wydział inwestycji i Remontów KWP w Poznaniu</span>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>
<!--info Modal-->
<div class="modal fade" id="infoModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
</main>
</body>
</html>